.app {
	background-color: #447884;
	font-family: 'Lato', sans-serif;
}

.main-content {
    display: flex;
    position: absolute;
    top: 38px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.search-bar {
	width: 100%;	
}

.place-list {
	flex-grow: 1;
	border: 1px solid black;	
	min-width: 150px;
}

@media screen and (max-width: 400px) {
	.menu-button {
		display: block;
	}

	.place-list {
		min-width: 100px;
	}
}

.place-item {
	margin: 5px;
	padding: 14px 10px;
	background-color: #D1E1E5;
	border-radius: 2px;
}

.map {
	flex-grow: 4;
	width: 80%;
	min-width: 200px;
	border: 1px solid black;
}