.main-content {
    display: flex;
    position: absolute;
    top: 38px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.search-bar {
	width: 100%;
}

.place-list {
	flex-grow: 1;
	border: 1px solid black;	
	min-width: 150px;
}

.map {
	flex-grow: 4;
	width: 80%;
	min-width: 200px;
	border: 1px solid black;
}